.main{
    margin-top: -10;
    margin-bottom: 150px;
}
.header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(230, 226, 14);
}
.header svg{
    display: block;
}
.banner-image{
    width: 60%;
}
.banner-content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.hero {
    
    display: block;
    box-sizing: border-box;
    height: 720px;
    background-color: goldenrod;
    clip-path: ellipse(300% 100% at -117.5% 0%);
    }

.company-name{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.company-name img{
    width: 120px;
    height: 50px;
    margin-left: 4px;
}